/*Default Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	
}

#navigation
{
	background-color:#ffffff;
	padding:25px 0px 10px 0px;
	border-bottom:1px;
	box-shadow:1px 2px 5px 0px #d9d9d9;
}

.logo
{
	float:left;
	background-image:url("../images/logo.png");
	width:184px;
	height:61px;	
}
.logo a:hover
{
     	text-decoration:none; 
}
.menu 
{
    	list-style-type: none;
	float:left;
	margin:23px 0px 0px 8px;
}

.menu li
{
	float:left;
	margin-left: 38px;
	
}
.menu li a
{
	color:#3d8357;
	text-decoration: none;
	font-size:16px;
	font-weight:bold; 
}
.menu li a:hover 
{
     	color:#D2691E; 
	
}

.clearBlock,.menu li.clearBlock, #navigation .container .clearBlock,#banner li.clearBlock,#content ul li.clearBlock,#footer .container .clearBlock,#footer .social_media_icon li .clearBlock
{
	clear:both;
	float: none;
	height: 0;
	width: 0;
	margin: 0px;
	padding: 0px;
}
#banner
{
	padding-bottom:27px;
	border-bottom:1px solid #cccccc;
}
#banner .imageWrapper
{
	background:#fff url("../images/bannerImage.png") no-repeat center top;
	height:445px;
	margin-bottom:26px;
	
}
#banner h1    
{
    	font-size:50px;
    	color:#217543;
	font-family:Raleway;	
}
#banner .button
{ 
    	background: #217442;
    	border:2px solid #155225;
	box-shadow:1px 1px 1px 1px #888;
    	border-radius:3px;
}
a.button
{
    	text-decoration: none;
	color: #ffffff;
	font-weight:bold;
	font-size:18px;
	font-family:myriad Pro;
	padding:8px 40px;
	
}

#banner .container
{
	position:relative;
}
#banner .bannerWrapper
{
	width:443px;
	float:left;
	margin-top:135px;
	margin-left:36px;
}

#banner ul
{
	list-style-type: none;
	
}
#banner li
{
	float:left;
	margin-left:30px;
}
#banner li:first-child
{
	margin-left:0px;
}
.box
{
	width:414px;
	height:133px;
	border:2px solid #cccccc;
	border-radius:3px;
	padding:21px 17px 22px 20px;
}
.box .sideImage
{
	float:right;
}
.bannerDown
{
	float:left;
	width:269px;
	color:#636363;
}
#banner h3
{
	font-size:21px;
	text-transform:uppercase;
	font-weight:bold;
	line-height:31px;
}     
#banner p
{
	font-size:18px;
	line-height:22px;
}
.mailBox
{
	float:left;
	border-radius:6px;
	border:1px solid #d0d0cb;
}
.textBar
{
	width:140px;
	line-height:38px;
	padding:0px 30px 0px 7px;
	float:left;
}
input[type="submit"]
{
	width: 74px;
	line-height:36px;
    	background: #c7c7c7;
	color: #636363;
    	font-weight:bold;
	font-size:14px;
	display:block;
	
}
a.shopsaleItems 
{
	color: #ffffff;
	font-weight:bold;
	font-size:18px;
	padding:8px 7px;
	display:block;
	text-decoration:none;
	text-align:center;
}
.shopsaleItems 
{
	width:230px;
    	background: #1e6a3d;
    	border:2px solid #1c5b2e;
	box-shadow:1px 1px 1px 1px #888;
    	border-radius:3px;
	margin-top:23px;
	
}	

#banner .box a.signupButton
{
    	text-decoration: none;
}
#content 
{
	background-repeat:repeat;
	background-image: url("../images/pattern.jpg");
	border-bottom:1px solid #cccccc;
	padding:92px 26px;
	
}
#content ul
{
	list-style-type: none;
	
	
	
}
#content h4
{
	color:#1d683c;
	text-transform:uppercase;
	margin-bottom:12px;
	font-weight:bold;
	
}
#content .imagebox
{
	margin-bottom:18px;
}
#content .contentDown
{
	width:271px;
	font-size:13px;
	line-height:20px;
}
#content .contentDown p
{
	color:#000000;
}
#content .contentDown a
{
	text-decoration:none;
	color:#1d683c;
	text-transform:uppercase;
	
}
#content  li
{
	margin-left:25px;
	float:left;
	
}
#content li:first-child
{
	margin-left:0px;
}
#footer
{
	border-top:1px solid #e3e3e3;
	background-color: #f7f7f7;
        box-shadow:0px 2px 2px 2px;
        padding-top:37px; 
	padding-bottom:60px;
		
}

#footer .links{
	list-style-type: none;
	float: left;
}
#footer .links li{
	float: left;
        margin-left:24px; 
}
#footer .links li:first-child
{
	margin-left:0px;
}

#footer .links a
{
	text-decoration: none;
	color: #1d673b;
	font-weight: bold;
	font-size:14px;
}
#footer a:hover
{
	color: #D2691E;
}
.social_media_option{
	float:right;
	list-style-type: none;
	
}
.social_media_option li
{
	
	float: left;
	border-radius: 7px;
	background-color:#1f6e3f;
	margin-left:10px;
	
}
.social_media_option li:first-child
{
	margin-left:0px;
}
.social_media_option li:hover{
	background-color:#D2691E;
}


.social_media_option li a
{
	display:block;
	width: 33px;
	height: 33px;	
}

.social_media_option li  a.google
{
	background:url("../images/google.png") no-repeat center 5px;		
}
.social_media_option li .twitter
{
	background:url("../images/twitter.png") no-repeat center 5px;
}
.social_media_option li .pinterest
{
	background:url("../images/pinterest.png") no-repeat center 5px;
}
.social_media_option li .facebook
{

	background:url("../images/facebook.png") no-repeat center 5px;
}

#active_page
{
	text-decoration: none;
	background-color:#000000;
}

#footer .menuList
{
	float: left;
	margin-left:61px;
	list-style-type: none;	

}

#footer .menuList a
{
	text-decoration: none;
	color: #939393;
	font-size:14px;
}

#footer .menuList a:hover
{
	color: #000000;
}
#footer .menuList li
{
	float :left;
	border-left:1px solid #939393 ;
	padding:0px 8px 0px 8px;
		
}
#footer .menuList li:first-child
{
	
	border-left:0px;
}

.copyRight
{
	float: left;
	color:#939393;
	font-size:14px;
	
}
.footerBottom
{
	margin-top:15px;
}

.container
{
	width:940px;
	margin:auto;
}

